<Section::Panel as |panel|>

  <panel.header as |header|>
    <header.title>{{t "resources.item_plural"}}</header.title>
    <button class="button is-dark is-outlined">Add Item</button>
  </panel.header>

  <panel.body>
    <List as |list|>
      {{#each this.groupedItems as |group|}}
        <list.item as |listItem|>
          {{group.category.name}}
          <listItem.list as |list|>
            {{#each group.items as |item|}}
              <list.item as |listItem|>
                <listItem.link @route="items.item" @model={{item}}>
                  {{item.name}}
                </listItem.link>
              </list.item>
            {{/each}}
          </listItem.list>
        </list.item>
      {{/each}}
    </List>
  </panel.body>

</Section::Panel>
