<Section::Panel as |panel|>

  <panel.header as |header|>
    <header.title>{{t "resources.item_plural"}}</header.title>
    <button class="button is-dark is-outlined">Add Item</button>
  </panel.header>

  <panel.body>
    <ListSet as |listSet|>
      {{#each @model.categories as |category|}}
        {{#if category.items}}
          <listSet.heading>{{category.name}}</listSet.heading>
          <listSet.list as |list|>
            {{#each category.items as |item|}}
              <list.item as |listItem|>
                <listItem.link @route="items.item" @model={{item}}>
                  {{item.name}}
                  <FaIcon @icon="chevron-right" />
                </listItem.link>
              </list.item>
            {{/each}}
          </listSet.list>
        {{/if}}
      {{/each}}
    </ListSet>
  </panel.body>

</Section::Panel>
