<Section::Panel as |panel|>

  <panel.body>

    <ImageMessage
      @src="images/item"
      @message={{t 'welcome'}}>
      <button class="button is-primary is-outlined">Primary Button</button>
    </ImageMessage>

  </panel.body>

</Section::Panel>
