<Section::Panel as |panel|>

  <panel.header as |header|>
    <button class="button is-warning is-outlined">Cancel</button>
    <header.title>{{@model.name}}</header.title>
    <Button::Save />
  </panel.header>

  <panel.body>
    Item stuff goes here
  </panel.body>

</Section::Panel>
