.container
  @extend .container
  padding: $size-4
  width: 100%

.container-centering
  @extend .container
  display: flex
  flex-direction: column
  flex-grow: 1
  justify-content: center
  align-items: center
