.form-panel
  @extend .section-panel

.form-input
  @extend .input
  width: 100%

.control-radio
  @extend .control
  @extend .list
  padding-bottom: $size-4
  padding-top: $size-4
  width: 100%
  &-label
    @extend .list-item
