.form-panel
  @extend .section-panel

.label
  text-align: left

.field-radio
  .radio
    @extend .is-checkradio

.has-error
  @extend .is-danger

.field-error
  @extend .help, .is-danger
  padding: 0

.field-integer
  align-items: center
  display: flex
  justify-content: center

  &-column
    margin-bottom: -3rem
    margin-top: -3rem
    padding: 1rem

  &-quantity
    font-size: $size-1 * 3
    padding-top: 0
