$image-size: $size-1 * 5

.image-message
  align-items: center
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center
  &-img
    height: $image-size
    padding-bottom: $size-3
