$list-heading-padding: $size-6 / 2.25 $size-5
$list-item-padding: $size-6 - 0.25rem $size-5

.list
  &:not(:last-child)
    margin-bottom: 0

.list-heading
  @extend .has-background-light
  @extend .is-uppercase
  @extend .is-size-7
  padding: $list-heading-padding
  position: sticky
  top: 0

.list-item
  display: flex
  justify-content: space-between
  padding: 0

  &-label
    align-items: center
    display: flex
    flex: 100
    padding: $list-item-padding

  a
    &.list-item-link
      @extend .list-item
      align-items: center
      background-color: transparent
      color: $text
      display: flex
      flex: 1
      justify-content: space-between
      padding: $list-item-padding

      &.active,
      &:active
        &,
        &:hover
          @extend .list-item.is-active
          background-color: $primary !important

      &:hover
        &:not(.active)
          @extend .has-background-light


.empty-list-message
  padding: $size-4
  text-align: center
