.tag
  &,
  &:not(body)
    @extend .is-rounded, .has-text-weight-bold
    height: 2rem
    margin-right: 0.5rem
    padding-bottom: 0
    width: 2rem

  &-outlined
    @extend .has-background-white
    border: 1px solid $grey-darker
