<button
  class="list-item-link"
  {{on "click" @toggleAction}}
  role="checkbox"
  aria-checked={{if @checked "true" "false"}}>
  {{yield}}
  <Tag @inverted={{true}}>
    {{#if @checked}}
    <FaIcon @icon="check" @size="2x" @transform="shrink-5"/>
    {{/if}}
  </Tag>
</button>
