<li class="list-item" ...attributes>
  {{yield (hash
    list=(component "list/list")
    link=(component "link-to" class="list-item-link" title=@title)
    preLink=(component "text-box")
  )}}
</li>
