<Section::Panel as |panel|>
  <form class="form-panel" ...attributes>
    {{yield (hash
      save=(component "button/save")
      cancel=(component "button/cancel")
      delete=(component "button/delete")
      text=(component "form/field/text")
    ) panel}}
  </form>
</Section::Panel>
