<div class="field-integer">
  <div class="field-integer-column">
    <Button
      class="button-decrement"
      type="button"
      @disabled={{@disabled}}
      {{on "click" @decrement}}>
      <FaIcon @icon="minus"/>
    </Button>
  </div>
  <div class="field-integer-column">
    <p class="field-integer-quantity">{{@value}}</p>
  </div>
  <div class="field-integer-column">
    <Button
     class="button-increment"
     type="button"
     {{on "click" @increment}}
     >
      <FaIcon @icon="plus"/>
    </Button>
  </div>
</div>
