
<ul>
  <li><LinkTo @route="items">{{t "resources.item_plural"}}</LinkTo></li>
  <li><LinkTo @route="stores">{{t "resources.store_plural"}}</LinkTo></li>
  <li><LinkTo @route="list.manage">{{t "titles.shopping-list.manage"}}</LinkTo></li>
  <li><LinkTo @route="shopping-lists.shopping-list.shop" @model="1">{{t "titles.shopping-list.shop"}}</LinkTo></li>
</ul>
