Items route
<ul>
  {{#each @model as |item|}}
    <li><strong>{{item.name}}</strong> ({{item.category.name}})</li>
  {{/each}}
</ul>

<button class="button is-primary">Primary Button</button>
<button class="button is-primary is-outlined">Primary Button</button>
<br>
<button class="button is-success">Success Button</button>
<button class="button is-success is-outlined">Success Button</button>
<br>
<button class="button is-danger">Danger Button</button>
<button class="button is-danger is-outlined">Danger Button</button>
<br>
<button class="button is-warning">Warning Button</button>
<button class="button is-warning is-outlined">Warning Button</button>
<br>
<button class="button is-dark">Dark Button</button>
<button class="button is-dark is-outlined">Dark Button</button>
<br>
